<div class="bg-white border-left " id="sidebar-wrapper">
    <div class="sidebar-heading">Start Bootstrap </div>
    <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-white">Search field</a>
        <a href="#" class="list-group-item list-group-item-action bg-white">News Feed</a>
        <a href="#" class="list-group-item list-group-item-action bg-white">suggestions</a>
        <a href="#" class="list-group-item list-group-item-action bg-white">Events</a>
        <a href="#" class="list-group-item list-group-item-action bg-white">links</a>
    </div>
</div>